* {
    font-family: "Roboto Condensed", sans-serif;
    background-color: #282828;
    color: #e4e6eb;
}

canvas:focus {
    outline:none;
}

.screen {
    border: 1px solid white;
    border-radius: 2px;
}

.components {
    float: left;
    margin-left: 10px;
}

.components h4 {
    margin: 0;
}

.stats {
    padding: 4px;
    color: #e4e6eb;
    border-radius: 2px;
    text-align: center;
    margin-bottom: 10px;
    border: 1px solid white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 900px) {
    .screen {
        text-align: center;
    }

    .components {
        text-align: center;
    }

    .times {
        text-align: center;
    }

    .stats {
        float: left;
        margin-right: 10px;
        margin-top: 5px;
    }
}